* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: rgb(235, 244, 242);
}
form {
  padding: 6px 20px;
  border-radius: 0 0 6px 6px;
}
input {
  border: 1px solid black;
  background: white;
  color: salmon;
  outline: none;
  border-radius: 5px;
  height: 30px;
  margin: 10px 0 5px;
  width: 270px;
  font-size: 1.2rem;
  transition: 0.2s;
}
input:focus {
  border: 1px solid salmon;
}
#result {
  display: flex;
  flex-wrap: wrap;
  padding-top: 110px;
}
#result > li {
  flex: 1 0 25%;
  min-width: 280px;
  border: 1px solid salmon;
  background: white;
  margin: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.084);
}
h1 {
  margin: 6px auto;
  color: salmon;
}

p {
  /* width: 300px; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}

img {
  width: 100%;
  margin: 10px 0;
  border-radius: 15px;
  object-fit: cover;
  /* box-shadow: 0 1px 10px rgba(0, 0, 0, 0.304); */
}
li > ul > li {
  text-align: left;
}
